<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:replace="layout/header :: header"></div>

<body>
<div class="container">

    <div th:replace="layout/side :: side"></div>

    <main class="main-content">
        <header class="header">
            <h1>회원 관리</h1>
            <button class="add-task" onclick="location.href='/member/joinMemberForm'">회원 추가</button>
        </header>
        <table class="task-list">
            <colgroup>
                <col width="15%"/>
                <col width="10%"/>
                <col width="15%"/>
                <col width="15%"/>
                <col width="5%"/>
                <col width="20%"/>
            </colgroup>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>이름</th>
                    <th>연락처</th>
                    <th>이메일</th>
                    <th>상태</th>
                    <th>등록일</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="member : ${members}">
                    <td th:text="${member.loginId}"></td>
                    <td>
                        <a th:href="@{'/member/' + ${member.memberId} + '/memberEdit'}" th:text="${member.loginId}"></a>
                    </td>
                    <td th:text="${member.phone}"></td>
                    <td th:text="${member.email}"></td>
                    <td th:switch="${#strings.trim(member.status)}">
                        <span th:case="WAIT">가입대기</span>
                        <span th:case="APPROVE">승인</span>
                        <span th:case="LEAVE">탈퇴</span>
                    </td>
                    <td th:text="${#temporals.format(member.regDate, 'yyyy-MM-dd HH:mm')}"></td>
                </tr>
            </tbody>
        </table>
    </main>
</div>
</body>
</html>
